.Home{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: black;
}

.btn{
    flex: 1;
    cursor: pointer
}

.title{
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 10px;
    padding: 10px;
}