.Home{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: black;
}

.btn{
    flex: 1;
    cursor: pointer
}